.playerBox{
    background-color: #fff;
    border:1px solid black;
    margin: 1em 1em;
    padding: 1em;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    

}
.playerTitle{
   text-transform: uppercase;
}
.playerPoints{
 text-align: center;
 font-size: 4rem;
 color:rgb(255, 255, 255);
}
.player1{
    background-color: rgba(194, 61, 61, 0.6);
    border: none;
}
.player2{
    background-color: rgba(67, 67, 192, 0.6);
    border: none;
}